        <!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Palmpay | Finance That Fits Your Life</title>
        <link rel="stylesheet" href="../../Styles/header/header.css">
        <link rel="stylesheet" href="../../Styles/global/global.css">
        <link rel="stylesheet" href="../../Styles/body/body.css">

</head>

<body>

    <!-- Header Starts here -->

    <section class="fixed">



        <div class="header shrink">

            <div class="logo">
                <img src="../../Assets/images/Logo.png" alt="Palmpay Logo">
            </div>

            <div class="link">

                <div class="drop">

                    <div class="personal">Personal

                    </div>

                    <div class="blur"></div>

                    <div class="hover">

                        <div class="mtext">

                            <div class="mbigtext">
                                PalmPay For You
                            </div>

                            <div class="msmalltext">
                                30 million users trust PalmPay to make transfer, pay bills, and shop securely.
                            </div>
                        </div>

                        <div class="mgrid">

                            <div class="mmgrid">

                               
                                <div class=" hugetext"> plampay app</div>
                                <div class="minitext">Send money, pay in-person and more</div>
                            </div>

                            <div class="mmgrid">

                                <div class=" hugetext"> Buy and shop</div>
                                <div class="minitext">pay easily at shop</div>

                            </div>

                            <div class="mmgrid">

                                <div class=" hugetext"> Send and recieve money</div>
                                <div class="minitext">Make transfer or get paid</div>

                            </div>

                            <div class="mmgrid">

                                <div class=" hugetext"> Bill payment</div>
                                <div class="minitext">Pay bill and earn cashbacks</div>

                            </div>
                        </div>

                        <div class="mbutton">
                            
                            <img src="../../Assets\images\new google.png" alt="tunmise">
                            <img  src="../../Assets\images\AppStoreBadge.615d20e2.png" alt="">

                        </div>


                    </div>

                </div>

                <div class="drop">

                    <div class="link">Business</div>

                    <div class="down">
                        
                        <div class="toptext">

                            <div class="sbigtext">
                                PalmPay For Business
                            </div>

                            <div class="ssmalltext">
                                Our simple, all-in-one solution for payments, banking and operations, helps businesses of all sizes to grow and succeed
                            </div>

                        </div>

                        <div class="twingrid">

                            <div class="firstgridset">

                                <div class="firstbold">
                                    terminal
                                </div>

                                <div class="gridduo">

                                    <div class="mmgrid">

                                        <div class="hugetext"> POS</div>
                                        <div class="t"> Accept payments with POS terminal</div>
        
                                    </div>
        
                                    <div class="mmgrid">
        
                                        <div class="hugetext"> Pay with transfer</div>
                                        <div class="t"> Open Transfer Account in minutes</div>
        
                                    </div>

                                </div>
                                
                            </div>

                            <div class="secondgridset">

                                <div class="ndbold">
                                    payment
                                </div>

                                <div class="gridset">

                                    <div class="mmgrid">

                                        <div class="hugetext">Payin</div>
                                        <div class="t">A single platform to accept payments
                                        </div>
        
                                    </div>
        
                                    <div class="mmgrid">
        
                                        <div class="hugetext">payout</div>
                                        <div class="t">Send payouts in real time</div>
        
                                    </div>

                                    <div class="mmgrid">

                                        <div class="hugetext">Business account</div>
                                        <div class="t"> All your needs in one account</div>
        
                                    </div>
        
                                    <div class="mmgrid">
        
                                        <div class="hugetext">management</div>
                                        <div class="t">one stop management suite</div>
        
                                    </div>

                                    <div class="mmgrid">

                                        <div class="hugetext">checkout</div>
                                       <span>coming soon</span>
        
                                    </div>
        
                                    <div class="mmgrid">
        
                                        <div class="hugetext">payment link</div>
                                        <span>coming soon</span>
        
                                    </div>



                                </div>
                                
                            </div>



                        </div>

                    </div>

                </div>

                <div class="drop">

                    <div class="link">Company</div>

                    <div class="droplist">

                        <li>about</li>
                        <li>blog</li>
                        <li>press and media</li>
                        <li>contact</li>

                    </div>

                </div>

            </div>

            <div class="countryselector">

                <div class="selector">

                    <div class="flag">

                        <img src="../../Assets/images/ NG flag.png" alt="Nigeria Flag">

                        <div class="text">
                            Nigeria
                        </div>

                        

                    </div>

                    <div class="arrow">
                        <i class="fi fi-rr-angle-small-down"></i> 
                      </div>
                    
                </div>


            </div>


        </div>

    </section>

    <!-- Header ends here -->

    


</body>

</html>