<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Palmpay | Finance That Fits Your Life</title>
        <link rel="stylesheet" href="../../Styles/header/header.css">
        <link rel="stylesheet" href="../../Styles/global/global.css">
        <link rel="stylesheet" href="../../Styles/body/body.css">

</head>

<body>

    <!-- Header Starts here -->

    <section class="fixed">

        <div class="header shrink">

            <div class="logo">
                <img src="../../Assets/images/Logo.png" alt="Palmpay Logo">
            </div>

            <div class="link">
              <div class="link">Personal</div>
              <div class="link">Business</div>
              <div class="link">Company</div>
            </div>

            <div class="countryselector">

                <div class="selector">

                    <div class="flag">

                        <img src="../../Assets/images/ NG flag.png" alt="Nigeria Flag">

                        <div class="text">
                            Nigeria
                        </div>

                        

                    </div>

                    <div class="arrow">
                        <i class="fi fi-rr-angle-small-down"></i> 
                      </div>
                    
                </div>


            </div>


        </div>

    </section>

    <!-- Header ends here -->

    <!-- body starts here -->

   <section class="fixed">

        <div class="body yayy">

            <div class="finance">
                Finance That Fits Your  <br>LIfe
            </div>
    
            <div class="text2">
                Seamlessly send and receive money, effortlessly pay your bills, shop anywhere with ease, and take full control of your finances - all in PalmPay
            </div>
        </div>

   </section>

    <!-- body ends here -->
    


</body>

</html>