.header{
    display: flex;
    align-items: center;
    padding: 19px 0px;
    
}

.header .logo{
    width: 136px;
    height: 32px;
    margin-right: 60px;
}

.header .logo img{
    width: 100%;
}

.header .link{
    display: flex;
    gap: 60px;
    font-weight: 500;
    color: #18191f
}




.header .drop .hover{
    display: flex;
    position: absolute;
    width:calc(80% - 12px);
    width: 100%;
    left: 0;
    padding: 30px calc(10% + 6px);
    padding-bottom: 80px;
    background-color: #fff;

}


.blur{
   width: 100%;
   height: 100vh;
   position: absolute;
   display: none;
   background-color: rgba(0, 0, 0, 0.9);
   left: 0;
   top:0 ;
}
  

.hover{
    margin-top: 50px;
    display: flex;
    gap: 65px;
    z-index: 777;
    background-color: rebeccapurple;

}




.hover .mgrid .mmgrid .minitext{
    font-size: 14px;
 }

 .hover .mtext{
     width: 15%;
     
 }

 .hover .mtext .mbigtext{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;

 }

 .hover .mtext .msmalltext{
    font-size: 12px;
 }

 .hover .mgrid{
    display: grid;
    grid-template-columns: 300px 300px;
    row-gap: 30px;
    margin-bottom: 20px;
 }
 
 
 .hover .mgrid .mmgrid .hugetext{
    text-transform:capitalize;
    font-size: 18px;
    font-weight: 300;
    color: #18191f;
    line-height: 25px;
}

.hover .mbutton{

    display: grid;
    margin-left: auto;
    
}

.hover .mbutton img{
     
    width: 166px;

}



.down{

    position: absolute;
    width:calc(80% - 12px);
    width: 100%;
    left: 0;
    padding: 30px calc(10% + 6px);
    padding-bottom: 80px;
    padding-top: 55px;
    
    background-color: aquamarine;

}



/* .down{
    margin: 30px 0 0 50px;
    background-color: rgb(136, 103, 36);
} */

.down .toptext{

}

.down .toptext .sbigtext{
     font-size: 22px;
     font-weight: 600;
}

.down .toptext .ssmalltext{
    font-size: 14px;
    color: #18191f;
    letter-spacing: -.7px;
}

.down .twingrid .firstbold,.ndbold{
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0px;
    text-transform: capitalize;
}

.down .twingrid{
    display: flex;
    margin-top: 20px;
}

.down .firstgridset .gridduo{
    display: grid;
    grid-template-columns: 300px;
    row-gap: 30px;
    margin-bottom: 20px;
}

.down .secondgridset .gridset{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    row-gap: 30px;
    margin-bottom: 20px;

}

.hugetext{
    font-weight: 500;
    font-size: 20px ;
    text-transform: capitalize;
    
}

.t{
    font-weight: 400;
    font-size: 14px ;
    letter-spacing: -.5px;
}

span{
    font-weight: 300;
    font-size: 12px ;
    letter-spacing: -.5px;
}


.droplist{

    display: none;

}


.hover{
    display: none !important;
}
 


.countryselector{
    margin-left: auto;
    background-color:rgb(247, 247, 251);
    width: 172px;
    height: 32px;
    border-radius: 100px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
   
    
}

.countryselector .selector{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.countryselector .selector .flag{
    display: flex;
    align-items: center;
    gap: 8px;
}

.countryselector .selector .flag img{
    width: 24px;
    height: 16px;
}

.countryselector .selector .flag .text{
    font-size: 12px;
}

.countryselector .selector .arrow i{
    display: flex;
    align-items: center;
}

