<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../Styles\footer\footer.css">
    
</head>
<body>

    <div class="shrinking"></div>

    <section class="footer">

        <div class="firstsection">

           <div class="shrinking">

                <div class="insidefirstsection">

                    <div class="join">
                        Join <span>30+ million</span> users who love PalmPay
                    </div>

                    <div class="logoflex">

                        <div class="googleimg">
                            <img src="../../Assets\images\newgoogle.png" alt="googleimg">
                        </div>

                        <div class="appleimg">
                            <img src="../../Assets\images\appStorewhite.png" alt="appleimg">
                        </div>
                        
                    </div>

                </div>

           </div>

        </div>

        <div class="middlesection">

        </div>

        <div class="lastsection">

        </div>

    </section>
    
</body>
</html>